<p {{lax preset="blurOut"}}>
  Aliquam eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Sit amet, consectetur adipiscing elit pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas integer.
  Porttitor leo a diam sollicitudin tempor id eu nisl. Quam vulputate dignissim suspendisse in est ante in nibh mauris, cursus mattis molestie a, iaculis at erat pellentesque adipiscing commodo elit.
  Augue mauris augue neque, gravida in fermentum et, sollicitudin ac orci phasellus egestas tellus rutrum tellus pellentesque eu tincidunt? Quam viverra orci sagittis eu volutpat odio facilisis mauris sit amet.
</p>
<p>
  Blandit volutpat maecenas volutpat blandit aliquam etiam erat velit, scelerisque in dictum non, consectetur a erat nam at. Duis at consectetur lorem donec massa sapien, faucibus et molestie ac, feugiat.
  Tempus, urna et pharetra pharetra, massa massa ultricies mi, quis hendrerit! Elementum integer enim neque, volutpat ac tincidunt vitae, semper quis lectus nulla at volutpat diam ut venenatis tellus in.
  At quis risus sed vulputate odio ut enim blandit volutpat maecenas volutpat blandit aliquam etiam erat velit, scelerisque in dictum non? Donec et odio pellentesque diam volutpat commodo sed egestas.
</p>
<p>
  Pulvinar etiam non quam lacus suspendisse? Odio aenean sed adipiscing diam donec adipiscing tristique risus nec feugiat in fermentum posuere urna nec tincidunt praesent semper feugiat nibh sed pulvinar proin!
  Sit amet mauris commodo quis imperdiet massa tincidunt nunc pulvinar sapien. Purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis enim.
  Gravida rutrum quisque non tellus orci, ac auctor! Tellus orci, ac auctor augue mauris augue neque, gravida in fermentum et, sollicitudin ac orci phasellus egestas tellus rutrum tellus pellentesque eu!
</p>
<p>
  Tortor vitae purus faucibus ornare suspendisse! Arcu, bibendum at varius vel, pharetra vel turpis nunc eget lorem dolor, sed viverra ipsum nunc aliquet bibendum enim, facilisis gravida neque convallis a.
  Enim, facilisis gravida neque convallis a cras semper auctor neque. Feugiat in ante metus, dictum at tempor commodo, ullamcorper a lacus vestibulum sed arcu non odio euismod lacinia at quis.
  Amet cursus sit amet, dictum sit amet justo donec enim diam, vulputate ut pharetra sit amet? In massa tempor nec feugiat nisl pretium fusce id velit ut tortor pretium viverra!
</p>
<p>
  Tristique nulla aliquet enim tortor, at auctor urna nunc id cursus metus aliquam eleifend mi in nulla posuere sollicitudin aliquam ultrices? Facilisis gravida neque convallis a cras semper auctor neque.
  Odio aenean sed adipiscing diam donec adipiscing tristique risus nec feugiat in fermentum posuere urna nec tincidunt praesent. Fames ac turpis egestas integer eget aliquet nibh praesent tristique magna sit.
  Adipiscing enim eu turpis egestas pretium aenean pharetra, magna ac placerat vestibulum, lectus mauris ultrices eros, in cursus turpis massa tincidunt dui ut. Sed egestas egestas fringilla phasellus faucibus scelerisque.
</p>
<p>
  Leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in ornare quam viverra. Lectus a molestie lorem ipsum dolor sit amet!
  Nullam non nisi est, sit amet facilisis magna etiam tempor, orci eu lobortis elementum, nibh tellus molestie nunc, non blandit. Tristique nulla aliquet enim tortor, at auctor urna nunc id.
  Feugiat in fermentum posuere urna nec tincidunt praesent semper feugiat nibh sed pulvinar proin gravida hendrerit! Interdum velit euismod in pellentesque massa placerat duis ultricies lacus sed turpis tincidunt id.
</p>
<p>
  Diam sollicitudin tempor id eu nisl nunc mi ipsum, faucibus vitae aliquet nec, ullamcorper sit amet risus nullam! Nisl, condimentum id venenatis a, condimentum vitae sapien pellentesque habitant morbi tristique.
  Et ligula ullamcorper malesuada proin libero nunc, consequat interdum varius sit amet, mattis. Nunc aliquet bibendum enim, facilisis gravida neque convallis a cras semper auctor neque, vitae tempus quam pellentesque!
  Viverra ipsum nunc aliquet bibendum enim. Gravida in fermentum et, sollicitudin ac orci phasellus egestas tellus rutrum tellus pellentesque eu tincidunt tortor aliquam nulla facilisi cras fermentum, odio eu feugiat.
</p>
<p>
  Ipsum consequat nisl, vel pretium lectus quam id leo in vitae turpis. Venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est.
  Facilisi nullam vehicula ipsum a arcu cursus vitae congue mauris rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus et netus! Gravida arcu ac tortor dignissim!
  Purus sit amet volutpat consequat, mauris nunc. Etiam erat velit, scelerisque in dictum non, consectetur a erat nam at lectus urna duis convallis convallis tellus, id interdum velit laoreet id.
</p>
<p {{lax preset="blurOut"}}>
  Turpis egestas pretium aenean pharetra, magna ac placerat vestibulum, lectus? Vitae suscipit tellus mauris a diam maecenas sed enim ut sem viverra aliquet eget sit amet tellus cras adipiscing enim?
  Tellus pellentesque eu tincidunt tortor aliquam nulla facilisi cras fermentum? Scelerisque fermentum dui faucibus in ornare quam viverra orci sagittis eu volutpat odio facilisis mauris sit amet massa vitae tortor?
  Ultrices tincidunt arcu, non sodales neque sodales ut etiam sit amet nisl purus, in mollis nunc sed id semper risus in hendrerit. Quis imperdiet massa tincidunt nunc pulvinar sapien et.
</p>
<p>
  Imperdiet massa tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin libero nunc, consequat interdum varius! Sit amet est placerat in egestas erat imperdiet sed euismod nisi porta lorem mollis.
  Urna cursus eget nunc scelerisque viverra mauris, in aliquam sem fringilla ut morbi? Id aliquet risus feugiat in ante metus, dictum at tempor commodo, ullamcorper a lacus vestibulum sed arcu.
  Pretium, nibh ipsum consequat nisl, vel pretium lectus quam id leo in vitae turpis massa sed elementum tempus egestas sed sed risus. At ultrices mi tempus imperdiet nulla malesuada pellentesque?
</p>
<p>
  Arcu cursus vitae congue mauris rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus et! Faucibus et molestie ac, feugiat sed lectus vestibulum mattis ullamcorper velit.
  Lobortis elementum, nibh tellus molestie nunc! Quis vel eros donec ac odio tempor orci dapibus ultrices in iaculis nunc sed augue lacus, viverra vitae congue eu, consequat ac felis donec?
  Adipiscing commodo elit, at imperdiet dui accumsan sit amet nulla facilisi morbi tempus iaculis urna, id volutpat lacus laoreet non curabitur. Interdum consectetur libero, id faucibus nisl tincidunt eget nullam.
</p>
<p>
  Fames ac turpis egestas maecenas pharetra convallis posuere morbi leo urna. Volutpat odio facilisis mauris sit amet massa vitae tortor condimentum lacinia quis vel eros donec ac odio tempor orci.
  Massa tempor nec feugiat nisl pretium fusce id velit ut tortor pretium viverra suspendisse? Elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus.
  Proin sed libero enim, sed faucibus turpis in eu mi bibendum neque egestas congue quisque egestas diam in arcu cursus euismod! Sed odio morbi quis commodo odio aenean sed adipiscing.
</p>
<p>
  Imperdiet dui accumsan sit amet nulla facilisi morbi tempus iaculis urna, id volutpat lacus! Pellentesque elit eget gravida cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
  Fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam. Cursus vitae congue mauris rhoncus aenean vel elit.
  Odio aenean sed adipiscing diam donec adipiscing tristique risus nec feugiat in fermentum posuere urna nec tincidunt praesent semper? Feugiat in fermentum posuere urna nec tincidunt praesent semper feugiat nibh.
</p>
<p {{lax preset="spin"}}>
  Tincidunt dui ut ornare lectus sit. Massa vitae tortor condimentum lacinia quis vel eros donec ac odio tempor orci dapibus ultrices in iaculis nunc sed augue lacus, viverra vitae congue.
  Pretium, nibh ipsum consequat nisl, vel pretium. Amet, mattis vulputate enim nulla aliquet porttitor lacus, luctus accumsan tortor posuere ac ut consequat semper viverra nam libero justo, laoreet sit amet.
  Duis convallis convallis tellus, id interdum velit laoreet id donec ultrices tincidunt arcu, non. Ornare lectus sit amet est placerat in egestas erat imperdiet sed euismod nisi porta lorem mollis.
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus. Dui, id ornare arcu odio ut sem nulla pharetra.
  Ante in nibh mauris, cursus mattis molestie a, iaculis at erat pellentesque adipiscing commodo. Massa enim nec dui nunc mattis enim ut tellus elementum sagittis vitae et leo duis ut?
  Leo vel orci porta non pulvinar neque laoreet suspendisse interdum consectetur libero, id faucibus nisl. Sit amet commodo nulla facilisi nullam vehicula ipsum a arcu cursus vitae congue mauris rhoncus.
</p>
<p {{lax preset="leftToRight"}}>
  Est, sit amet facilisis magna etiam tempor, orci eu lobortis elementum, nibh tellus molestie nunc, non? Sit amet venenatis urna cursus eget nunc scelerisque viverra mauris, in aliquam sem fringilla!
  Justo donec enim diam, vulputate ut pharetra sit. Vehicula ipsum a arcu cursus vitae congue mauris rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus et.
  In est ante in nibh mauris, cursus mattis molestie a, iaculis at erat pellentesque adipiscing commodo elit, at imperdiet dui accumsan sit amet nulla. Proin libero nunc, consequat interdum varius.
</p>
<p {{lax preset="rightToLeft"}}>
  Pharetra et ultrices neque ornare aenean euismod elementum. Et, sollicitudin ac orci phasellus egestas tellus rutrum tellus pellentesque eu tincidunt tortor aliquam nulla facilisi cras fermentum, odio eu feugiat pretium.
  Velit sed ullamcorper morbi tincidunt ornare massa, eget egestas! A cras semper auctor neque, vitae tempus quam pellentesque nec nam aliquam sem et tortor consequat id porta nibh venenatis cras!
  Consequat interdum varius sit amet. Id semper risus in hendrerit gravida rutrum quisque non tellus orci, ac auctor augue mauris augue neque, gravida in fermentum et, sollicitudin ac orci phasellus.
</p>
<p>
  Mi, quis hendrerit dolor magna. Pretium vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae elementum curabitur vitae nunc sed velit dignissim sodales ut eu sem integer vitae justo eget?
  Id donec ultrices tincidunt arcu, non sodales neque sodales ut etiam sit amet nisl purus, in mollis nunc sed id semper risus in hendrerit gravida? Diam in arcu cursus euismod!
  Arcu odio ut sem nulla pharetra diam sit amet nisl suscipit adipiscing bibendum est ultricies integer quis auctor? Velit aliquet sagittis id consectetur purus ut faucibus pulvinar elementum integer enim.
</p>
<p {{lax preset="crazy"}}>
  Pellentesque adipiscing commodo elit, at imperdiet dui accumsan sit amet nulla facilisi morbi tempus iaculis urna! Fusce id velit ut tortor pretium viverra suspendisse potenti nullam ac tortor vitae purus!
  Viverra adipiscing at in tellus integer feugiat scelerisque varius morbi enim nunc, faucibus a! Magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est!
  Phasellus vestibulum lorem sed risus ultricies tristique nulla aliquet. Ornare arcu dui vivamus arcu felis, bibendum ut tristique et, egestas quis ipsum suspendisse ultrices gravida dictum fusce ut placerat orci?
</p>
<p>
  Magna ac placerat vestibulum, lectus mauris ultrices eros, in cursus turpis massa tincidunt dui ut ornare! Cursus eget nunc scelerisque viverra mauris, in aliquam sem fringilla ut morbi tincidunt augue!
  Adipiscing elit duis tristique sollicitudin nibh sit amet commodo nulla. Sed ullamcorper morbi tincidunt ornare massa, eget egestas purus viverra accumsan in nisl nisi, scelerisque eu ultrices vitae, auctor eu.
  Tellus molestie nunc, non blandit massa enim nec dui nunc mattis enim ut tellus elementum sagittis vitae et leo duis ut! Morbi tincidunt augue interdum velit euismod in pellentesque massa!
</p>
